# etcd url location. Point this to the server where etcd runs
FLANNEL_ETCD="{{ _etcd_urls | join(',') }}"

# etcd config key. This is the configuration key that flannel queries
# for address range assignment
FLANNEL_ETCD_KEY="/kube-centos/network"

# Any additional options that you want to pass
FLANNEL_OPTIONS=""
