# Comma separated list of nodes in the etcd cluster
KUBE_ETCD_SERVERS="--etcd-servers={{ _etcd_urls | join(',') }}"

# logging to stderr means we get it in the systemd journal
KUBE_LOGTOSTDERR="--logtostderr=true"

# journal message level, 0 is debug
KUBE_LOG_LEVEL="--v=0"

# Should this cluster be allowed to run privileged docker containers
KUBE_ALLOW_PRIV="--allow-privileged=true"

# How the replication controller and scheduler find the kube-apiserver
KUBE_MASTER="--master=http://{{ hostvars[groups['kubernetes_master'][0]]['kubernetes_private_ip'] }}:8080"
