apiVersion: v1
clusters:
- cluster:
    server: http://{{ hostvars[groups['kubernetes_master'][0]]['ansible_eth0']['ipv4_secondaries'][0]['address'] }}:{{ kubernetes_server_port }}
  name: default
contexts:
- context:
    cluster: default
  name: default
current-context: default
kind: Config
preferences: {}
users: []
